# eclipse specific git ignore
.project
.metadata

bin/**
tmp/**
tmp/**/*
*.tmp

.classpath
.settings/
.loadpath
/bin/
BACKEND/.DS_Store


.vscode/settings.json
.gitignore
/.vscode
BACKEND/src/ar/edu/unrn/seminario/.DS_Store
BACKEND/src/ar/edu/unrn/.DS_Store
BACKEND/src/ar/edu/.DS_Store
BACKEND/src/ar/.DS_Store
BACKEND/src/.DS_Store
.DS_Store
lib/junit-platform-console-standalone-1.11.3.jar
seminario-reserva-hotel-proyectobase-v1.0.code-workspace
